body {
  padding: 0;
  margin: 0;
  background-color: #1c1c1c;
}

h1 {
  font-size: 80px;
  text-align: center;
  color: #fffc0f;
  font-family: arial;
}

.center {
  position: absolute;
  left: 38%;
}

span {
  width: 300px;
  height: 300px;
  border: 3px solid #fffc0f;
  position: absolute;
  border-radius: 50%;
  animation: ani 2s infinite linear;
}

span:nth-child(1) {
  animation-delay: 0s;
}

span:nth-child(2) {
  animation-delay: 0.2s;
}

span:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes ani {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  70% {
    opacity: 1;
    transform: scale(0.8);
  }

  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}
